

/* hr {
    color: black;
} */

#navbar-example2.navbar {
    position: static !important;
    background-color: rgba(59, 133, 29, 0.267) !important;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: solid darkslategrey 1px;
}

nav .nav-item .nav-link {
    color: black !important;
}

.row {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
} 

.logo {
    padding-right: 10px;
}

.nav-link {
    margin-left: 20px;
}

.jumbotron {
    font-family: Palatino, URW Palladio L, serif;
    text-align: center;
    background-color: transparent;
    z-index: 999;
    background-image: url("../PorfolioWalkthrough/assets/IMG_0314.JPG");
    background-size: cover;
    width: 100%;
    height: 93%;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 75px;
}

.btn.btn-primary.btn-lg {
    color: black;
    font-weight: 600;
    background-color: rgba(59, 133, 29, 0.267);;
    border-color: rgba(59, 133, 29, 0.267);;
}

.row.shadow-lg.p-0 {
    margin-bottom: 100px;
}

.row {
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 100px;
    border: solid darkslategrey 3px;
}

.aboutMe {
    background-color: rgba(59, 133, 29, 0.267);
    display: inline-flex;
}

.text {
    padding: 180px 20 180 0;
    font-family: Palatino, URW Palladio L, serif;
}

.projects {
    display: inline-flex;
    margin-bottom: 50px;
    padding: 0 10px 0 10px;
}

.projects .card {
    background: rgba(59, 133, 29, 0.349);
    border: solid darkslategrey 1px;
}


#contact-me {
    text-align: center !important;
    font-size: 50px;
    font-family: Palatino, URW Palladio L, serif;
}
.imgme {
    padding:100 100 100 20 ;
}

.form-box {
    font-family: Palatino, URW Palladio L, serif;
    margin: 20 275 50 275;
    border: solid darkslategrey 1px;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: rgba(59, 133, 29, 0.267);
    line-height: 1;
    padding:2rem;
    overflow: hidden;
} 

#emailHelp {
    text-emphasis-color: black;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(59, 133, 29, 0.267) !important;
    text-align: center;
    border-top: solid darkslategrey 1px;
}

footer p {
    margin: 0px;
}

footer p img {
    margin: 5px;
}